@font-face
{
    font-family: titulo;
    src: url(Fuentes/DumpyPlanetDemoRegular.ttf);
}
*{
    margin:0;
    padding:0;
}
.principal{
    display: flex;
    flex-wrap: wrap;
}
nav{
    width: 100%;
    display: flex;
    background-image: url(https://img.freepik.com/vector-gratis/fondo-casino-dorado-simbolos-traje-tarjeta_1017-32736.jpg?w=996&t=st=1663685437~exp=1663686037~hmac=5680380734f000a7d79cf6b91c2415e35dd1d23ccaced9d94399e8c6a9eb7d28);
    align-items:center;
    border-top: 5px solid darkslateblue;
    border-right:5px solid darkslateblue ;
    border-left:5px solid darkslateblue ;
}
.imglog{
    width: 90px;
    height: 90px;
    border-radius: 60%;
    border: solid black;
    margin-left: 40px;
    margin-right: 40px;
    margin-top: 10px;
}
.menu{
    width:50%;
}
.logo1{
    width:100px;
    height:15px;
    background-image: radial-gradient(circle at 50% 50%, #bd5f42 0, #b65646 8.33%, #ab4c47 16.67%, #9b4146 25%, #883642 33.33%, #722b3c 41.67%, #591f32 50%, #411427 58.33%, #2d0b1d 66.67%, #1f0013 75%, #110007 83.33%, #000000 91.67%, #000000 100%);
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    color: white; 
    border-radius: 20px; 
    font-weight: bold;
}
.log3{
   width:350px;
    height:13px;
    background-image: radial-gradient(circle at 50% 50%, #bd5f42 0, #b65646 8.33%, #ab4c47 16.67%, #9b4146 25%, #883642 33.33%, #722b3c 41.67%, #591f32 50%, #411427 58.33%, #2d0b1d 66.67%, #1f0013 75%, #110007 83.33%, #000000 91.67%, #000000 100%);
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size: 15px;
    color: darkcyan; 
    border-radius: 20px; 
    border-color: white;
    font-weight: bold; 
}
.input1{
    width:100px;
    height:25px;
    background-image: radial-gradient(circle at 50% 50%, #bd5f42 0, #b65646 8.33%, #ab4c47 16.67%, #9b4146 25%, #883642 33.33%, #722b3c 41.67%, #591f32 50%, #411427 58.33%, #2d0b1d 66.67%, #1f0013 75%, #110007 83.33%, #000000 91.67%, #000000 100%);
    text-align: center;
    font-size: 15px;
    color: white; 
    border-radius: 10px; 
    border-color: white ;
    font-weight: bold; 
}
.nombreI{
    width:80px;
    height:10px;
    background-image: linear-gradient(270deg, #bd5f42 0, #b65646 8.33%, #ab4c47 16.67%, #9b4146 25%, #883642 33.33%, #722b3c 41.67%, #591f32 50%, #411427 58.33%, #2d0b1d 66.67%, #1f0013 75%, #110007 83.33%, #000000 91.67%, #000000 100%);
    margin-left:21px;
    padding: 8px;
    text-align: center;
    font-size: 15px;
    color: white; 
    border-radius: 10px;
    font-weight: bold;
}
ul{
    margin:10px;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
}
li{ 
    height: 25px;
    width: 110px;
    text-align: center;
    border-radius: 10px;
    border: solid white;
    list-style: none;
    color: white;
    font-weight: bold;
    background-image: radial-gradient(circle at 50% 50%, #bd5f42 0, #b65646 8.33%, #ab4c47 16.67%, #9b4146 25%, #883642 33.33%, #722b3c 41.67%, #591f32 50%, #411427 58.33%, #2d0b1d 66.67%, #1f0013 75%, #110007 83.33%, #000000 91.67%, #000000 100%);
    font-size: 20px;
}
a
{
    color: white;
}
.bienvenido{
    margin-left: 300px;
}
figure{
    width:100%;
    background-image: url(https://img.freepik.com/vector-gratis/banner-casino-jugando-cartas-que-brilla-intensamente_1017-32731.jpg?t=st=1663684565~exp=1663685165~hmac=7e4fc20c34fb502000a2eac4aada33862b1bfb19a15a8296ccfff1054e84f82a) ;
    height: 320px;
    text-align: center;
    border-top: 5px solid darkslateblue;

}
.h1{
    -webkit-text-stroke: 2px #9b4146;
    margin-top: 40px;
    /*font-style:italic;*/
    font-weight:bold;
    font-size:5em;
     color: white;
    font-family: "titulo";
}
.h2{
    -webkit-text-stroke: 2px #9b4146;
      font-family: "titulo";
    font-weight:bold;
    font-size:5em;
    color: white;
    /*font-family: serif;*/

}
.h2sec{
    -webkit-text-stroke: 2px #9b4146;
     /*font-style:italic;*/
    /*font-weight:bold;*/
    /*background-image: radial-gradient(circle at 50% 50%, #bd5f42 0, #b65646 8.33%, #ab4c47 16.67%, #9b4146 25%, #883642 33.33%, #722b3c 41.67%, #591f32 50%, #411427 58.33%, #2d0b1d 66.67%, #1f0013 75%, #110007 83.33%, #000000 91.67%, #000000 100%);*/
    font-size:2em;
    color: lavender;
    font-family: serif;  
}

.conversor{
    width:60%;
    height:35px;
    background-image: radial-gradient(circle at 50% 50%, #bd5f42 0, #b65646 8.33%, #ab4c47 16.67%, #9b4146 25%, #883642 33.33%, #722b3c 41.67%, #591f32 50%, #411427 58.33%, #2d0b1d 66.67%, #1f0013 75%, #110007 83.33%, #000000 91.67%, #000000 100%);
    text-align: center;
    border: solid white;
    font-size: 19px;
    color: white; 
    border-radius: 10px;
    font-weight: bold;
    font-family: inherit;
}

.inputconver{
    width:160px;
    height:25px;
    background-color: ghostwhite;
    text-align: center;
    font-size: 15px;
    color: orange; 
    border-radius: 10px;
    font-weight: bold;
    font-family: inherit;
}

main{
    width:100%;
    background-image: url(https://img.freepik.com/fotos-premium/representacion-3d-juegos-azar-linea_99433-4597.jpg?w=826);

}

article{
    width:200px;
    height:200px;
    border: solid white;
    border-radius: 10px;
    background-image: linear-gradient(270deg, #bd5f42 0, #b65646 8.33%, #ab4c47 16.67%, #9b4146 25%, #883642 33.33%, #722b3c 41.67%, #591f32 50%, #411427 58.33%, #2d0b1d 66.67%, #1f0013 75%, #110007 83.33%, #000000 91.67%, #000000 100%);
    margin: 10px;
    padding: 10px;
    text-align: center;
    font-size: 20px;
    color: white;
}

section{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}
.section2{

    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: left;
}
.divmain{
    display: flex;
    flex-wrap: wrap-reverse;
    justify-content: center;
}
footer{
    width: 100%;
    background-image:url(https://img.freepik.com/fotos-premium/representacion-3d-juegos-azar-linea_99433-4597.jpg?w=826) ;
    background-size: 100% 120%;
}



.caja{
    width: 200px;
    height: 250px;
    margin:10px;
    padding: 5px; 
    border: 3px solid white;
    border-radius: 10px;
    color: white;
    background-image: radial-gradient(circle at 50% 50%, #bd5f42 0, #b65646 8.33%, #ab4c47 16.67%, #9b4146 25%, #883642 33.33%, #722b3c 41.67%, #591f32 50%, #411427 58.33%, #2d0b1d 66.67%, #1f0013 75%, #110007 83.33%, #000000 91.67%, #000000 100%);
    text-align: center;
}
.caja2{
    width: 270px;
    height: 250px;
    margin:10px;
    padding: 5px; 
    border-radius: 10px;
    color: white;
    background-size: 100% 100%;
    

}
.imgim{
    width: 120px;
    height: 120px;
    border-radius: 20px;

}
.imgrs{
    width: 20px;
    height: 20px;
    border-radius: 10px;
}
.h41{
    -webkit-text-stroke: 2px #9b4146 ;
     /*font-style:italic;*/
    font-weight:bold;
    font-size:2em;
    color: white ;
    font-family: serif;
}
.a2{
    color: white;
}